@import 'styles/_sass-includes.scss';

.header {
  @extend %page-margins;
  height: 9rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: $almostwhite;
  border-bottom: 0.1rem solid $offwhite;

  img {
    width: 20rem;
  }
}
